@model GiftShop.Models.Product

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
            <img src="@Model.ImageUrl" class="img-fluid rounded shadow" alt="@Model.Name" />
        </div>
        <div class="col-md-6">
            <h1 class="fw-bold mb-3">@Model.Name</h1>
            <p class="fs-4 mb-3"><strong>Цена:</strong> @string.Format("{0:F2}", Model.Price) лв</p>
            <h4 class="fw-bold">Описание</h4>
            <p class="text-muted">@Model.Description</p>
            <p class="fs-5 mb-3"><strong>Количество:</strong></p>

            <div class="my-4 d-flex flex-column gap-3">
                @if (Model.Quantity > 0)
                {
                    <form asp-controller="Cart" asp-action="AddToCart" method="post">
                        <input type="hidden" name="productId" value="@Model.Id" />
                        <div class="input-group">
                            <input type="number" name="quantity" class="form-control w-5" value="1" min="1" max="@Model.Quantity">

                        </div>
                    </form>

                    <form asp-controller="Cart" asp-action="AddToCart" method="post">
                        <input type="hidden" name="productId" value="@Model.Id" />
                        <input type="hidden" name="quantity" value="1">
                        <button type="submit" class="btn btn-outline-dark btn-lg">Купи сега</button>
                    </form>
                }
                else
                {
                    <button class="btn btn-danger btn-lg w-100" disabled>❌ Недостатъчна наличност</button>
                }
            </div>
        </div>
    </div>
</div>
