@model IEnumerable<GiftShop.Models.CartItem>

<h1>Вашата количка</h1>

@if (!Model.Any())
{
    <p>Вашата количка е празна. Започнете да пазарувате!</p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>Продукт</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Общо</th>
                <th>Действия</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Product.Price.ToString("C")</td>
                    <td>@(item.Quantity * item.Product.Price)</td>
                    <td>
                        <form asp-action="RemoveFromCart" asp-controller="Cart" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button class="btn btn-danger btn-sm">Премахнете</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="text-end">
        <a asp-action="CreateOrder" asp-controller="Order" class="btn btn-primary">Продължете към плащане</a>
    </div>
}
