@model IEnumerable<GiftShop.Models.Product>

<h1>Продукти</h1>
<a asp-action="CreateProduct" class="btn btn-success mb-3">Добави нов продукт</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Име</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Категория</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)

        {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price.ToString("C")</td>
                    <td>@product.Category?.Name </td>
                <td>
                    <a asp-action="EditProduct" asp-route-id="@product.Id" class="btn btn-warning">Редактиране</a>
                    <form asp-action="DeleteProductConfirmed" asp-route-id="@product.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Изтриване</button>
                    </form>
                </td>

                </tr>
        }
    </tbody>
</table>
